{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="form-group row">

    {{ form_start(form,{'attr': {'novalidate':'true'}}) }}
   {{ form_widget(form) }}
        <input type="submit" value="save">
    {{ form_end(form) }}
    </div>
{% endblock %}
