{% block SkillType_widget %}
    <div class="row">
        <div class="col-md-12">
            <a href="#" class="skill-remove" title="Delete hobby"><i class="fa fa-2x fa-times-circle"></i></a>
            <a href="#" class="skill-add" title="Add hobby"><i class="fa fa-2x fa-plus-circle"></i></a>
            {{ form_row(form.name) }}
            {{ form_row(form.value) }}

        </div>




    </div>
{% endblock %}